/* NOTE: color variables */

$background-color-body: #fafafa;
$color-body: #4d4f62;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: 400;
  line-height: 1.5;
  background-color: $background-color-body;
  color: $color-body;
}

.header {
  margin: 0 auto;
  margin-bottom: 6.4rem;
  margin-top: 7.9rem;
  max-width: 54rem;
  text-align: center;

  &__subtitle {
    font-size: 3.6rem;
    font-weight: 200;
    letter-spacing: 0.025rem;
    line-height: auto;
  }

  &__title {
    font-size: 3.6rem;
    font-weight: 600;
    letter-spacing: 0.025rem;
    line-height: auto;
    margin-bottom: 1.6rem;
  }

  &__description {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.65;
    letter-spacing: 0.01rem;
    opacity: 50%;
  }
}

@mixin feature-card-style($color) {
  border-top: 4px solid $color;
  &__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: auto;
    margin-bottom: 0.8rem;
  }
  &__description {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.09px;
    opacity: 50%;
    margin-bottom: 3.2rem;
  }

  &__icon {
    width: 6.4rem;
    height: 6.4rem;
    align-self: flex-end;
  }
}

.main-container {
  max-width: 111rem;
  margin: 0 auto 3.2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 35rem);
  gap: 2.85rem;
  position: relative;

  section {
    height: 25rem;
    border-radius: 0.8rem;
    background-color: #fff;
    padding: 3rem;
    box-shadow: 0 1.5rem 3rem -1.1rem rgba($color: #83a6d2, $alpha: 0.5);
    display: flex;
    flex-direction: column;

    &:nth-child(odd) {
      grid-row: 1 / 3;
      align-self: center;
    }

    &:nth-child(3) {
      grid-column: 3;
    }
  }
  .supervisor {
    @include feature-card-style(#44d3d2);
  }
  .team-builder {
    @include feature-card-style(#ea5454);
  }
  .calculator {
    @include feature-card-style(#549ef2);
  }
  .karma {
    @include feature-card-style(#fcae4a);
  }
}

/* HACK: small mobiles (320px ~ 480px) */
/* HACK: large mobiles (481px ~ 767px) */
/* HACK: tablets (768px ~ 1024px) */

/* NOTE: mobiles */
@media (max-width: 48em) {
  .header {
    padding: 3rem;

    &__title,
    &__subtitle {
      font-size: 2.4rem;
    }
  }

  .main-container {
    padding: 0 3rem 3rem 3rem;
    grid-template-columns: 1fr;

    section {
      height: auto;
      &:nth-child(odd) {
        grid-column: auto;
        grid-row: auto;
      }
    }
  }
}

/* NOTE: Tablets */

@media (min-width: 48em) and (max-width: 64em) {
  .main-container {
    padding: 0 3rem 3rem 3rem;
    grid-template-columns: 1fr 1fr;

    section {
      &:nth-child(odd) {
        grid-column: auto;
        grid-row: auto;
      }
    }
  }
}
